/* Rating First Vote */
.anythingRating .anythingRating { width: 125px }
.anythingRating .star-rating, .anythingRating .star-rating a:hover, .anythingRating .star-rating a:active, .anythingRating .star-rating .current-rating { background: url("../images/rating_star.gif") left -1000px repeat-x }
.anythingRating .star-rating { position: relative; width: 125px; height: 25px; overflow: hidden; list-style: none; margin: 0; padding: 0; background-position: left top }
.anythingRating .star-rating li { display: inline }
.anythingRating .star-rating a, .anythingRating .star-rating .current-rating { position: absolute; top: 0; left: 0; text-indent: -1000em; height: 25px; line-height: 25px; padding: 0; outline: none; overflow: hidden; border: none }
.anythingRating .star-rating a:hover { background-position: left bottom }
.anythingRating .star-rating a.stars1 { width: 25px; z-index: 6 }
.anythingRating .star-rating a.stars2 { width: 50px; z-index: 5 }
.anythingRating .star-rating a.stars3 { width: 75px; z-index: 4 }
.anythingRating .star-rating a.stars4 { width: 100px; z-index: 3 }
.anythingRating .star-rating a.stars5 { width: 125px; z-index: 2 }
.anythingRating .star-rating .current-rating { z-index: 1; background-position: left center } 

/* Rating Second Vote (already voted) */
.anythingRating .star-rating2, .anythingRating .star-rating2 a:active, .anythingRating .star-rating2 .current-rating { background: url(../images/rating_star_2.gif) left -1000px repeat-x }
.anythingRating .star-rating2 { position: relative; width: 125px; height: 25px; overflow: hidden; list-style: none; margin: 0 auto; padding: 0; background-position: left top }
.anythingRating .star-rating2 li { display: inline }
.anythingRating .star-rating2 a, .anythingRating .star-rating2 .current-rating { position: absolute; top: 0; left: 0; text-indent: -1000em; height: 25px; line-height: 25px; outline: none; overflow: hidden; border: none; cursor: default }
.anythingRating .star-rating2 a.stars1 { width: 25px; z-index: 6 }
.anythingRating .star-rating2 a.stars2 { width: 50px; z-index: 5 }
.anythingRating .star-rating2 a.stars3 { width: 75px; z-index: 4 }
.anythingRating .star-rating2 a.stars4 { width: 100px; z-index: 3 }
.anythingRating .star-rating2 a.stars5 { width: 125px; z-index: 2 }
.anythingRating .star-rating2 .current-rating { z-index: 1; background-position: left center }

/* Rating Inline */
.inline-rating { display: -moz-inline-block; display: -moz-inline-box; display: inline-block; vertical-align: middle }
.voted-twice { background: #FFDDDD url(../images/rating_warning.gif) no-repeat 5px 50%; padding: 5px 5px 5px 16px; margin: 5px auto 0; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; color: #333; width: 130px; font-size: 11px; }
.voted { background: #E7FFCE url(../images/rating_tick.gif) no-repeat 5px 50%; padding: 5px 5px 5px 16px; margin: 5px auto 0; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; color: #333; width: 130px; font-size: 11px; }

/* Rating Text Classes */
.score { font-size: 11px; margin: 5px 0; color: #666; text-align: center }
.msgClass { width: 130px; }
.outNbsClass { color: #00CC00; font-weight: bold; }
.percentClass { }
.votesClass { }
.already-voted, .not-registered, .enddate, .more-less { text-align: center; font-size: 12px; font-weight: bold; margin: 10px auto 0; color: red; }

/* Top Rated List  */
div.topRatedList { clear: both; margin: 15px auto; }
div.topRatedList p.topLabel { font-size: 16px; font-weight: bold; color: #0079C1; }
div.topRatedList table { border: medium solid #000; width: 80%; text-align: center; margin: 10px auto; }
.topRatedList th { background-color: #0079C1; color: #FFF; border: 1px solid #6495ed; width: 15%; }
.topRatedList th.toptitle, .topRatedList th.topdescr { width: 25%; }
.topRatedList td { background-color: #FFF; border: 1px solid #6495ed; }
