ul.thumbs li {
	list-style:none;
	float:left;
	display:block;
	list-style-image: none;
	margin:auto 15px;
	height:250px;
	width:160px;
	text-align:center;
}
ul.thumbs li ul li{
  position:absolute;
  width:125px;
  display:inline;
  margin:0 auto;
}
ul.thumbs {
	list-style:none;
	margin:0;
	padding:0;
	clear: both;
}
ul.thumbs li img {
	border:none;
	margin:0 !important;
}
ul.thumbs li  a {
	background:none;
	text-decoration:none;
	border:0;
}
ul.thumbs li p {
	overflow:hidden;
	text-align:center;
	margin:0 auto;
}
.thumbs .clearboth { 
	clear:both; 
}
.childscontainer {
	width:90%;
	margin:0 auto;
	margin-bottom:20px;
}
.thumbscontainer {
	width:100%;
	margin:0 auto;
  margin-bottom:20px;
}
.pagenumbers {
	margin-bottom:20px;
}
.picturecontainer {
	text-align:center;
}
.navigation, .picturecount {
	margin:0 auto;
	text-align:center;
	width:700px;
}
.navigation {
	font-size:14px;
	font-weight:bold;
}
.picturecontainer .title {
	font-weight:normal;
	font-size:1.5em;
	margin:20px auto 0;
	text-align:center;
	width:700px;
}
.picturecontainer .description {
	margin:10px auto 50px;
	font-size:1.2em;
	text-align:center;
	width:700px;
}
.picturecontainer .picture img {
	border:none;
	margin:0 !important;
}
.picturecontainer .picture a {
	background:none !important;
	text-decoration:none;
	border:0;
}
.managecontainer {
    float:left;
}
.managecontainer textarea {
	width:395px;
}
.managecontainer hr {
	width:400px;
	text-align:left;
	margin:20px auto 20px 0;
}
.pictureform .managepicture {
	float:left;
	clear:left;
}
.pictureform .shortfields {
	margin-left:20px;
	float:left;
}
.pictureform .clearboth {
	clear:both;
}
.uploadcounter {
	width:20px;
	margin-bottom:10px;
	float:left;
	clear:left;
}
.uploadfile {
	margin-bottom:10px;
	float:none;
}
.uploadfile input {
	width:385px;	
}
.uploadform {
	margin-top:20px;
	margin-bottom:-10px;
  clear:both;
}
.uploadform .clearboth {
	clear:both;
}
.slideshowwrapper {
	text-align:center;
}
.deleteform {
	float:left;
}
.synchform {
	float:left;
}
div .jot-list li{
  list-style:none;
}